@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #5a73e9, #e388d5);
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.5rem;
}

.logo {
  width: 11%;
}

button {
    cursor: pointer;
}

/*---- Aqui começa a estilização do HAMBURGUER MENU ----*/

.hamburger-menu{
    margin-top: -1rem;
    display: none;
}

#menu__toogle{
    opacity: 0;
}

#menu__toogle:checked + .menu__btn > span{
    transform: rotate(45deg);
}

#menu__toogle:checked + .menu__btn  > span::before{
    top: 0;
    transform: rotate(0deg);
}

#menu__toogle:checked + .menu__btn > span::after{
    top: 0;
    transform: rotate(90deg);
}

#menu__toogle:checked ~ .menu__box{
    left: 0 !important;
}

.menu__btn{
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
    z-index: 1;
}

.menu__btn > span::before{
    content: '';
    top: -8px;
}

.menu__btn > span::after{
    content: '';
    top: 8px;
}

.menu__box{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item{
    display: block;
    color: #f5f5f7;
    font-weight: 900;
    text-decoration: none;
    transition-duration: .25s;
    font-size: 1.2rem;
}

.menu__item:hover{
    background-color: #cfd8dc;
}


.icons{
    margin: 1.5rem;
}

.menu__btn{
    margin-top: 1rem;
}

/*---- Aqui termina a estilização do HAMBURGUER MENU ----*/

.header ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.header .a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.header .comprar{
  background: #ffffff;
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  width: 100px;
  font-weight: 300;
}

.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.5rem;
}

/*contents*/
.content-left {
  width: 50%;
  color: #fff;
}

.content-left h1{
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  font-family: 'Poppins', sans-serif;
}

.content-left button {
  background: #4d5de7;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 1rem;
}

.content-left h1 span,
.header .on{
  color: #4d5de7;
}

.content-left p {
  font-weight: 300;
  font-size: 1.2rem;
  width: 70%;
  margin-top: 0.625rem;
  color: #ffffff;
}

.content-right {
  width: 50%;
}

.content-right img{
  width: 100%;
}

main {
  padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.5rem;
}

.cards {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.card {
  width: 50%;
  background-color: #0a1952;
  padding: 2rem;
  border-radius: .8rem;
}

.card .mg {
  display: flex;
  padding-top: 1rem;
  color: #fff;
  gap: 1rem;
  font-size: 1.5rem;
}

.card1 {
  background: linear-gradient(225deg, #007cc2 20%, #5865f2);
}

.card1 button{
  margin-top: 9.6rem;
}

.card2{
  background: linear-gradient(135deg, #8547c6 25%, #b845c1 62%, #ab5d8a 95%);
}

.card2 button{
  margin-top: 1rem;
}

.cards button{
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.3rem;
}

.container { 
  background: #fff;
  width: 100;
}









@media screen and (max-width: 767px){
  .header-content{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 2rem;
      padding: 0;
      text-align: center;
  }

  .header{
    padding: 2rem;
    padding-bottom: 0;
  }
  .logo {
    width: 40%;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .cards{
    flex-direction: column;
    width: 100%;
  }

  .card{
    width: 100%;
  }

  .card p {
    font-size: 1rem;
  }

  .content-left{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  .content-left h1{
      width: 80%;
      font-size: 2rem;
      line-height: 2rem;
  }
    
  .content-left p {
    font-size: .8rem;
    text-align: center;
  }

  .content-right{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .content-right img{
      width: 70%;
  }
}

@media screen and (max-width: 650px) and (orientation: portrait){
  .hamburger-menu{
      display: block;
  }

  .menu,
  .header button{
      display: none;
  }

  .livro{
      width: 22rem;
      height: 35rem;
      margin-top: 20rem;
  }
}

@media screen and (max-width: 490px) and (orientation: portrait){
  .content-text p,
  .content-text ul li{
      font-size: 0.75rem;
  }

  .content-left p{
      width: 100%;
  }

  .copy{
      font-size: 0.5rem;
  }
}
